@charset "UTF-8";
@font-face {
  font-family: Fira Sans;
  font-weight: 400;
  src: url(resources/fonts/FiraSans-Regular.otf); }

@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 400;
  src: url(resources/fonts/FiraSans-Italic.otf); }

@font-face {
  font-family: Fira Sans;
  font-weight: 300;
  src: url(resources/fonts/FiraSans-Light.otf); }

@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 300;
  src: url(resources/fonts/FiraSans-LightItalic.otf); }

@font-face {
  font-family: Fira Sans;
  font-weight: bold;
  src: url(resources/fonts/FiraSans-Bold.otf); }

@page {
  @bottom-left {
    content: counter(page);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
  }
  @top-right {
    content: string(heading);
    font-family: Fira Sans;
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%;
  }
}

@page :blank {
  @bottom-left {
    background: none;
    content: '';
  }
  @top-right {
    content: none;
  }
}

@page :first {
  @bottom-left {
    background: none;
    content: '';
  }
  @top-right {
    content: none;
  }
}

@page toc {
  @top-right {
    content: none;
  }
  @bottom-left {
    content: none;
  }
}

@page no-chapter {
  @top-right {
    content: none;
  }
}

html body h2 {
  break-before: always;
  font-family: Fira Sans;
  font-size: 28pt;
  string-set: heading content();
  page: no-chapter;
}

html body article#contents {
  break-before: right;
  break-after: left;
}
html body article#contents h2 {
  font-size: 20pt;
  font-weight: 400;
  margin-bottom: 3cm;
  page: toc;
}
html body article#contents h3 {
  font-weight: 500;
  margin: 3em 0 1em;
}
html body article#contents ul {
  list-style: none;
  padding-left: 0;
}
html body article#contents ul li {
  border-top: .25pt solid #c1c1c1;
  margin: .25cm 0;
  padding-top: .25cm;
}
html body article#contents ul li a {
  display: block;
  color: inherit;
  padding-right: 2cm;
}
html body article#contents ul li a::before {
  content: target-text(attr(href));
}
html body article#contents ul li a::after {
  content: target-counter(attr(href), page);
  float: right;
  margin-right: -2cm;
}

html body ol li,
html body ul li {
  margin-top: .25cm;
}
